{% extends "../layouts/ukti-search-header.html" %}
{% import "macros/forms.html" as forms %}

{% block main %}

  <a class="back-link" href="{{ backUrl }}">Back to company</a>

  <h1 class="heading-xlarge">Add new interaction</h1>

  <form action="{{ action }}" method="get">

    {% if contact_id %}
      <input type="hidden" name="contact_id" value="{{ contact_id }}">
    {% endif %}

    {% if company_id %}
      <input type="hidden" name="company_id" value="{{ company_id }}">
    {% endif %}

    {{ forms.radioColumns('type', label="Please select the interaction type", options=types, value=type_id) }}

    {{ forms.save(buttonText='Continue') }}

  </form>

{% endblock %}
