{% extends "../layouts/ukti-search-header.html" %}

{% block main %}

  <a class="back-link" href="{{ backUrl }}">Back to company</a>

  <h1 class="heading-xlarge record-title">
    Interaction details
  </h1>

  <table class="table-detail">
    <tbody>
    <tr>
      <th width="30%">Company</th>
      <td>
        <a href="/company/DIT/{{ interaction.company.id }}#interactions">
        {{ interaction.company.name }}</a>
      </td>
    </tr>
    <tr>
      <th width="30%">Interaction type</th>
      <td>{{ interaction.interaction_type.name }}</td>
    </tr>

    {% if interaction.service_delivery_type and interaction.service_delivery_type.name %}
    <tr>
      <th>Service delivery type</th>
      <td>{{ interaction.service_delivery_type.name }}</td>
    </tr>
    {% endif %}

    {% if interaction.service_delivery_status and interaction.service_delivery_status.name %}
    <tr>
      <th>Status</th>
      <td>{{ interaction.service_delivery_status.name }}</td>
    </tr>
    {% endif %}

    <tr>
    <tr>
      <th>Subject</th>
      <td>{{ interaction.subject }}</td>
    </tr>
    <tr>
      <th>Interaction notes</th>
      <td>{{ interaction.notes }}</td>
    </tr>

    {% if isServiceDelivery %}

    <tr>
      <th>Service delivery start date</th>
      <td>{{ interaction.date_of_interaction | formatDate('DD MMMM YYYY') }}</td>
    </tr>
    <tr>
      <th>Company contact</th>
      <td><a href="/contact/{{ interaction.contact.id }}">{{ interaction.contact.name }}</td>
    </tr>
    <tr>
      <th>DIT advisor</th>
      <td>{{ interaction.dit_advisor.name }}</td>
    </tr>
    <tr>
      <th>DIT team</th>
      <td>{{ interaction.dit_team.name }}</td>
    </tr>
    <tr>
      <th>UK Region</th>
      <td>{{ interaction.uk_region.name }}</td>
    </tr>
    <tr>
      <th>Primary sector</th>
      <td>{{ interaction.primary_sector.name }}</td>
    </tr>
    {% if interaction.subsector and interaction.subsector.name %}
    <tr>
      <th>Subsector</th>
      <td>{{ interaction.subsector.name }}</td>
    </tr>
    {% endif %}
    <tr>
      <th>Country of interest</th>
      <td>{{ interaction.country_of_interest.name }}</td>
    </tr>
    <tr>
      <th>Created on</th>
      <td>{{ interaction.created_on | formatDate('DD MMMM YYYY') }}</td>
    </tr>
    <tr>
      <th>Created by</th>
      <td>{{ interaction.created_by | default('Unknown') }}</td>
    </tr>
    <tr>
      <th>Updated on</th>
      <td>{{ interaction.modified_on | formatDate('DD MMMM YYYY') }}</td>
    </tr>
    <tr>
      <th>Updated by</th>
      <td>{{ interaction.updated_by | default('Unknown') }}</td>
    </tr>


    {% else %}

    <tr>
      <th>Date of interaction</th>
      <td>{{ interaction.date_of_interaction | formatDate('DD MMMM YYYY') }}</td>
    </tr>
    <tr>
      <th>Company contact</th>
      <td><a href="/contact/{{ interaction.contact.id }}/view">{{ interaction.contact.first_name }} {{ interaction.contact.last_name }}</td>
    </tr>
    <tr>
      <th>DIT advisor</th>
      <td>{{ interaction.dit_advisor.first_name }} {{ interaction.dit_advisor.last_name }}</td>
    </tr>
    <tr>
      <th>Service offer</th>
      <td>{{ interaction.service.name }}</td>
    </tr>
    <tr>
      <th>Service provider</th>
      <td>{{ interaction.dit_team.name }}</td>
    </tr>

    {% endif %}
    </tbody>
  </table>
  {% if not interaction.company.archived %}
    <a href="/interaction/{{ interaction.id }}/edit" class="button button-secondary">Edit interaction details</a>
  {% else %}
    <a class="button button-disabled">Edit interaction details</a>
  {% endif %}
{% endblock %}
